//colores
$blanco: #fff;
$negro: #000;
$VerdeMuyClaro: #a3f3ea;
$verde: #47d1c2;
$verdeHover: #1aaa99;
$azul:#303b61;
$azulHover: #1d2647;
$rojoBg: #ffede9;
$rojoDescuento: #e99d83;
$gris: #8b8faa;
$grisBarra: #eaeefb;
//fuente
$fuentePrincipal: 'Manrope', sans-serif;